<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/2b30b879ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header class="header">
        <div class="header__box">
            <div class="header__logo--box">
                <a href="/">
                <img class="header__logo--imagen" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" >
                </a>
            </div>
            <div class="header--barraBusqueda">
                <input type="text" placeholder="Buscar productos, marcas">        
                <a href=""><i class="fa fa-search"></i></a>
            </div>
            <div class="header__iconoMano--box">
                <a href=""><i class="fa-solid fa-hand-holding-dollar" style="color: #021d4b;"></i></a>
                <p class="header--epigraph">Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <div>
            <button class="header--menuHamburguesa" onclick="document.querySelector('.header--nav').classList.toggle('showMenu')"><i class="fas fa-bars"></i></button>
        </div>
        <nav class="header--nav">
            <ul>
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="header__nav__ul--icons">
                <li>
                    <div class="header__ul__icons--box">
                        <a href="/register">Creá tu cuenta</a>
                        <a href="/register"><i class="fa-regular fa-id-card"></i></a>
                    </div>
                </li>
                <li>
                    <div class="header__ul__icons--box">    
                        <a href="/login">Ingresá</a>
                        <a href="/login"><i class="fa-solid fa-right-to-bracket"></i></a>
                    </div>
                </li>
                <li>
                    <div class="header__ul__icons--box">
                        <a href="/login">Mis compras</a>
                        <a href="/login"><i class="fa-sharp fa-solid fa-basket-shopping"></i></a>
                    </div>
                </li>
            </ul>
        </nav>
        
        </header>
    <main class="main">
            <div class="main__banner--box">
            <img class="main__banner--imagen" src="/images/img-home-banner.jpg" alt="imagen-home-banner">
            </div>
        <section class="home__main--section">
            <h3 class="main--titulos">Basado en tu última visita</h3>
            <article class="home__main__section--article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen-cafetera-moulinex">
                <div class="home__main__section__article--box">
                    <i class="fa-solid fa-truck" ></i>
                    <p class="main--precio">$6.770</p>
                    <p class="main--descuento">40% OFF</p>
                    <br>
                    <h3 class="main--descripción">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="home__main__section--article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen-macbook-pro-2019">
                <div class="home__main__section__article--box">
                    <i class="fa-solid fa-truck" ></i>
                    <p class="main--precio">$230.000</p>
                    <p class="main--descuento">20% off</p>
                    <h3 class="main--descripción">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="home__main__section--article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen-samsung-galaxy-s10">
                <div class="home__main__section__article--box">
                    <i class="fa-solid fa-truck" ></i>
                    <p class="main--precio">$70.500</p>
                    <p class="main--descuento">10% off</p>
                    <h3 class="main--descripción">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="home__main__section--article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen-tv-samsung-smart">
                <div class="home__main__section__article--box">
                    <i class="fa-solid fa-truck" ></i>
                    <p class="main--precio">$23.200</p>
                    <p class="main--descuento">5% off</p>
                    <h3 class="main--descripción">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        <section class="home__main--section">
            <h3 id="ofertas" class="main--titulos">Ofertas</h3>
            <article class="home__main__section--article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen-cafetera-moulinex" >
                <div class="home__main__section__article--box">
                    <i class="fa-solid fa-truck" ></i>
                    <p class="main--precio">$6.770</p>
                    <p class="main--descuento">40% OFF</p>
                    <h3 class="main--descripción">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="home__main__section--article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen-macbook-pro-2019">
                <div class="home__main__section__article--box">
                    <i class="fa-solid fa-truck" ></i>
                    <p class="main--precio">$230.000</p>
                    <p class="main--descuento">20% off</p>
                    <h3 class="main--descripción">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="home__main__section--article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen-samsung-galaxy-s10">
                <div class="home__main__section__article--box">
                    <i class="fa-solid fa-truck" ></i>
                    <p class="main--precio">$70.500</p>
                    <p class="main--descuento">10% off</p>
                    <h3 class="main--descripción">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="home__main__section--article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen-tv-samsung-smart">
                <div class="home__main__section__article--box">
                    <i class="fa-solid fa-truck" ></i>
                    <p class="main--precio">$23.200</p>
                    <p class="main--descuento">5% off</p>
                    <h3 class="main--descripción">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <div class="footer--section">
            <article class="footer__section--article">
                <div class="footer__section__article--iconBox">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p class="">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer__section--article">
                <div class="footer__section__article--iconBox">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer__section--article">
                <div class="footer__section__article--iconBox">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
            <article class="footer__section__article--copyright">
                <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
            </article>
        </div>
    </footer>
    
</body>
</html>