/*HEADER*/

.header {
    background-color: var(--colorAmarillo);
    margin: 0;
    padding: 0 0 20px;
    width: 100%;
    text-align: center;
}
.header__box {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header__logo--box {
    padding: 20px 10px 10px;
    width: 50%;
    max-width: 250px;
    
}
.header--barraBusqueda {
    text-align: left;
    font-size: 12px;
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}
.header--barraBusqueda input {
    width: 100%;
    height: 27px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.header--barraBusqueda a {
    background-color: white;
    color: var(--colorGrisOscuro);
    margin: 1px 3px;
    padding: 3px;
    width: 10%;
    height: 15px;
    font-size: 10px;
    position: absolute;
    right: 0;
    border: none;
}
.header__iconoMano--box {
    display: flex;
    align-items: center;
}
.header__iconoMano--box a {
    text-align: right;
}
.header--epigraph {
    padding: 15px 0 20px;
    color: var(--colorAzul);
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    
}
.header--nav ul {
    padding: 0;
    text-align: left;
    font-size: 12px;
    display: none;
    list-style: none;
}
.header--nav ul li a{
    color: var(--colorAzul);
    text-align: left;
    text-decoration: none;
    font-weight: 500;
}

.header--menuHamburguesa {
    background-color: var(--colorCeleste);
    padding: 8px;
    width: 35px;
    display: inline-block;
    color: var(--colorGrisClaro);
    border-radius: 3px ;
    align-items: center;
}

/*MAIN*/
.home__main--section{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}
.main--titulos {
    padding: 5px;
    font-size: 23px;
    color: var(--colorGrisOscuro);
}
.main__banner--imagen {
    width: 100vw;
    padding: 0 0 5px;
}
.home__main__section--article{
    margin: 10px 0;
    align-self: stretch;
}
.home__main__section--article img {
    width: 100%;
    
}
.home__main__section__article--box {
    background-color: white;
    border-top: 1 solid #ebebeb;
    padding: 15px;
    font-size: 14px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
}
.home__main__section__article--box i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--colorVerde);
    background-color: #fff;
    border-radius: 50%;
    color: var(--colorVerde);
    position: absolute;
    right: 20px;
    top: -14px;
}
.main--precio {
    width: 30%;
    font-size: 18px;
    text-align: center;
    
}
.main--descuento {
    width: 70%;
    padding-left: 10px;
    font-size: 16px;
    color: var(--colorVerde);
    
}
.main--descripción {
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: var(--colorGrisOscuro);
    padding-top: 20px;
    
}

/*FOOTER*/

.footer {
    width: 100%;
    background-color: white;
    margin: 5px;
    padding: 30px 20px;
}
.footer p {
    font-size: 11px;
}
.footer__section--article {
    text-align: center;
    margin: 30px 20px;
}
.footer__section__article--iconBox {
    width: 2em;
    margin: auto;
    margin-bottom: 10px;
}

@media(min-width: 481px){
    
    /*HEADER*/
    .header {
        padding: 0;
    }
    .header__box {
        justify-content: space-between;
        padding: 0;
    }
    .header__logo--box {
        margin: 0;
        width: 33%;
    }
    .header--barraBusqueda {
        font-size: 10px;
        width: 25%;
        max-width: 150px;
    }
    .header--barraBusqueda input {
        height: 12px;
        padding: 2px;
        border-radius: 4px 0 0 4px;
        box-shadow: 0 0 2px;
       
    }
    .header--barraBusqueda a {
        background-color: var(--colorGrisClaro);
        width: 12px;
        height: 12px;
        border: solid 1px;
        font-size: 8px;
        font-weight: bold;
        padding: 1px;
        position: relative;
    }
    .header__iconoMano--box {
        width: 40%;
        
    }
    .header__iconoMano--box a {
        width: 10%;
        font-size: 9px;
        position: relative;
    }
    .header--epigraph {
        width: 90%;
        font-size: 9px;
        padding: 0;
    }
    .header--menuHamburguesa {
        display: none;
    }
    .header--nav {
        display: flex;
        justify-content: space-between;
    }
    .header--nav ul {
        padding: 10px;
        display: flex;
        width: 42%;
        font-size: 9px;
        gap: 3px;
    }
    .header__nav__ul--icons {
        justify-content: right;
    }

    /*MAIN*/

    .home__main--section{
        flex-direction: row;
        justify-content: space-between;
    }
    .main--titulos {
        width: 100%;
    }
    .home__main__section--article {
        width: 45%;
        height: 80%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .home__main__section--article img {
        height: 60%;
    }
    .home__main__section__article--box {
        height: 10%;
    }
    .main--precio {
        width: 50%;
        text-align: left;
        
    }
    .main--descuento {
        width: 50%;   
    }
}
@media(min-width: 520px){
    .header--nav ul {
        gap: 10px;
    }
}
@media(min-width: 769px){

    /*HEADER*/

    .header--nav ul {
        padding: 15px;
    }

    /*FOOTHER*/

    .header--barraBusqueda input{
        border-radius: 0;
    }

    /*MAIN*/

   .home__main__section--article {
    width: 20%;
   }
}