.login--main {
    box-sizing: border-box;
    background-color: var(--colorGrisClaro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.login__main--box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
}
.login__main__box--title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 10px;
    padding: 20px 0 10px;
}
.login__main__box--formbox {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.login__main__box__formbox--form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login__main__box__formbox__form--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-radius: 10px;
}
.login__main__box__formbox__form--box:hover {
    box-shadow: 5px 5px 11px silver;
}
.login__main__box__formbox__form__box--i {
    padding: 5px;
    width: 30px;
    color: #3483fa;
    border: 1px solid silver;
    border-radius: 100%;
    text-align: center;
    font-size: 18px;
}
.login__main__box__formbox--campobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.login__main__box__formbox--campobox label{
    display: none;
    padding: 5px;
}
.login__main__box__formbox--campo {
    padding: 5px;
    border: 1px solid silver;
    border-radius: 10px;
    outline: none;
}
.login__main__box__formbox--campo:focus {
    border: 1px solid #2968c8;
    box-shadow: 5px 5px 11px silver;
}
.login__form--buttonbox {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 10px;
}
.login__form__buttonbox--button {
    background-color: #3483FA;
    font-weight: bold;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}
.login__form__buttonbox--button:hover {
    box-shadow: 5px 5px 11px silver;
    background-color: #0022AA;
}
.login__form__buttonbox--button:focus {
    background-color: #2968c8;
}
.login__form__buttonbox--button2 {
    background-color: white;
    font-weight: bold;
    color: #3483FA;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}
.login__form__buttonbox--button2:hover {
    box-shadow: 5px 5px 11px silver;
}
.login__form__buttonbox--button2:focus {
    background-color: var(--colorGrisClaro);
}

@media(min-width: 481px){
    .login--main {
        padding: 30px 40px 150px;
    }
    .login__main__box--formbox {
        padding: 20px 30px;
    }
}
@media(min-width: 769px) {
    .login--main {
        padding-bottom: 250px;
    }
    .login__main__box__formbox--campobox label {
        display: block;
    }
}